#imageGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#imageGallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

#selectedImageContainer {
    margin-bottom: 20px;
}

#selectedImage {
    max-width: 80%;
    max-height: 500px;
}

#rotationSlider {
    display: block;
    width: 300px;
}